#partenaires-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#partenaires {
    margin-top: 70px;
    background-color: #f5f5f5; 
    min-height: 85vh;
}

#partenaires-header {
    padding: 40px;
    background-color: #446969;
}
#partenaires-header h2 {
    color: white;
}
#partenaires-header p {
    color: white;
}