/* .public {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.file-link {
    background-color: #035913 !important;
    color: white !important;
    width: 60vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

#public-head {
    display: flex;
    width: 100%;
    height: 320px;
}

#public-text {
    width: 50%;
    height: 100%;
    background: white;
    box-sizing: border-box;
    padding: 30px 100px;
    background-color: #035913;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#public-text h2 {
    font-weight: bold;
    margin-bottom: 10px;
    color: white
}

#public-text p {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

#image-box {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme-row {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#content {
    display: flex;
}

#aside {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#formations {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.formations-card {
    max-width: 1000px;
    margin-bottom: 20px;
    margin-top: 10px;
}