#cards {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nocard {
    margin: 2vw 3vw 2vw 3vw;
    position: relative;
}

.line-public {
    /* position: absolute; */
    width: 100%;
    height: 6px;
    background-color: #035913;
    left: 0;
    bottom: 26.1vh;
}

.line-prive {
    /* position: absolute; */
    width: 100%;
    height: 6px;
    background-color: darkcyan;
    left: 0;
    bottom: 176px;
}

.line-conseil {
    /* position: absolute; */
    width: 100%;
    height: 6px;
    background-color: #fd7e14;
    left: 0;
    bottom: 176px;
}

.card-body {
    text-align: left;
}

.titre-mission {
    font-family: "Questrial", sans-serif;
}

.text-mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin: 0 14vw 15px 14vw;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
}

.cardButton1 {
    color: #035913 !important;
    border-color: #035913 !important;
    margin-top: 5px;
}

.cardButton1:hover {
    background-color: #035913 !important;
    color: white !important;
}

.cardButton2 {
    color: darkcyan !important;
    border-color: darkcyan !important;
    margin-top: 5px;
}

.cardButton2:hover {
    background-color: darkcyan !important;
    color: white !important;
}

.cardButton3 {
    color: #fd7e14 !important;
    border-color: #fd7e14 !important;
    margin-top: 5px;
}

.cardButton3:hover {
    background-color: #fd7e14 !important;
    color: white !important;
}

.card.Title {
    font-weight: bold;
}

.card-text {
    height: 96px;
    margin: 0;
}